$netocentre: #24b2f3;
$touraine: #C60440;
$agricol: #2d8c17;
$headerSize: 68px;

body {
  margin-top: var(--recia-header-height, $headerSize);
  height: calc(100% - var(--recia-header-height, $headerSize));

  > #layout > #esco-footer {
    display: none;
  }

  @media screen and (min-width: 481px) {
    > #layout {
      flex-flow: row wrap;

      > div > .header {
        background-color: #FFF;
        border-top: 1px solid #d4dbde;
      }

      > .sidebar,
      > .list,
      > .content {
        height: calc(100% - 40px);
      }

      > .menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: right;
        width: 100% !important;
        background-color: #FFF !important;
        padding: 0 30px;
        height: 40px;
  
        > .popover-header {
          display: none !important;
          background-color: transparent !important;
        }

        > #taskmenu {
          background: #ffffff;
          display: flex;
          flex-flow: row wrap;
      
          .action-buttons {
            a {
              color: #333;
      
              &:hover {
                color: #333 !important;
                background-color: #ececec !important;
              }
      
              &.selected {
                color: #333;
                background-color: #d4d4d4 !important;
              }
            }
          }
      
          a {
            color: #333;
            width: auto;
            padding: .5rem .8rem;
            height: auto;
            margin: 0;
      
            &:hover {
              color: #333 !important;
              background-color: #ececec !important;
            }
      
            &.selected {
              color: #333;
              background-color: #d4d4d4 !important;
            }
      
            &::before {
              width: auto;
              display: inline-block;
            }
      
            span.inner {
              padding-left: 8px;
            }
          }
        }
      }
    }

    .floating-action-buttons {
      display: none !important;
    }
  }

  @media only screen and (hover: hover) and (pointer: fine) {
    height: calc(calc(100% - var(--recia-header-height, $headerSize)) - 10px);

    > #layout {
      > #esco-footer {
        display: unset;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        transition: transform .2s;

        &:hover {
          transform: translateY(0) !important;
        }
      }

      &:hover {
        > #esco-footer {
          transform: translateY(calc(100% - 10px));
        }
      }
    }
  }
}
