$netocentre: #24b2f3;
$touraine: #C60440;
$agricol: #2d8c17;
$headerSize: 38px;
$footerSize: 88px;

body {
  background: #f3f3f3 !important;
  height: auto;
  overflow: auto;
}

#layout {
  #esco-header,
  #esco-footer {
    flex: 1 100%;
    width: 100%;
  }

  #esco-header {
    height: $headerSize;
  }

  #esco-footer {
    height: $footerSize;
  }

  &.in-iframe {
    #esco-header,
    #esco-footer {
      display: none;
    }
  }
}

.popover-header {
  padding: 0 10px;
  color: #fff;
  font-family: inherit;
  line-height: 40px;
  font-size: 16px;
  height: auto;

  img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    opacity: .6;
    margin-top: -3px;
  }
} 

@media screen and (min-width: 481px) {
  #layout {
    flex-flow: row wrap;

    > .sidebar,
    > .list,
    > .content {
      height: calc(100% - 40px - $headerSize - $footerSize);
    }

    &.in-iframe {
      > .sidebar,
      > .list,
      > .content {
        height: calc(100% - 40px);
      }
    }

    & > .menu {
      display: flex;
      flex-flow: row wrap;
      justify-content: right;
      width: 100% !important;
      background-color: #FFF !important;
      padding: 0 30px;

      .popover-header {
        display: none !important;
        background-color: transparent !important;
      }
    }
  }

  #taskmenu {
    background: #ffffff;
    border-radius: 4px;
    display: flex;
    flex-flow: row wrap;

    .action-buttons {
      a {
        color: #333;

        &:hover {
          color: #333 !important;
          background-color: #A9A9A9 !important;
        }

        &.selected {
          color: #333;
          background-color: #d4d4d4 !important;
        }
      }
    }

    a {
      color: #333;
      width: auto;
      padding: .5rem .8rem;
      height: auto;

      &:hover {
        color: #333 !important;
        background-color: #A9A9A9 !important;
      }

      &.selected {
        color: #333;
        background-color: #d4d4d4 !important;
      }

      &::before {
        width: auto;
        display: inline-block;
      }

      span.inner {
        padding-left: 8px;
      }
    }
  }

  body {
    height: 100%;
    overflow: hidden;

    > #layout > div > .header {
      background-color: #FFF;
      border-top: 1px solid #d4dbde;
    }
  }

  .floating-action-buttons {
    display: none !important;
  }
}
